{% extends "base.html" %}
{% block title %} 报名最具影响力骑行俱乐部 - 行者骑行软件 {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/dist/css/xingzhe_power_vote_pc.css">
{% endblock %}

{% block content %}
<div class="container container-vote container-vote-in">
    <img class="header-img" src="http://cdn.bi-ci.com/dist_v2/image/pages/choice2015/vote_club_in.jpg" alt="报名最具影响力骑行俱乐部">
    <div class="content">
        <p>不在乎你是线下俱乐部或是行者线上俱乐部，不管你拥有数千人的团队或是只有数人作战，只要你有为队友们破风的实力，有团结一致走得更远的信念，有一呼即应的影响力，那我们要找的就是你。</p>
        <h2 class="t1 text-hide">一等奖</h2>
        <ul>
            <li>
                <p>洛克专业骑行装备 10套
                    <br>价值 ¥12,000</p>
                <p><small>套装包含 洛克触屏马鞍包、防风骑行手套、一体风镜骑行头盔、T6骑行车灯、便携打气筒、偏光骑行眼镜（带近视框）、猫眼警示灯LOOP。</small></p>
            </li>
            <li>
                <p>Jakroo捷酷伊索斯Evo 专业骑行服 10套
                    <br>价值 ¥7,000</p>
                <p><small>上衣3D立体前倾版型剪裁，意大利Revolutional面料。骑行裤采用意大利Bormio裆垫，Revolutional与Invista莱卡面料</small></p>
            </li>
            <li>
                <p>雷音工具组合（补胎片+胶水10盒，脚踏扳手1只，撬棒10对，公路专业版Pressure Drive气筒1个） 价值 ¥1200</p>
            </li>
            <li>
                <p>加雪龙头灯+尾灯套装 价值 ¥200</p>
            </li>
            <li>
                <p>行者力量纪念T恤1件<small>（达恩运动提供）</small></p>
            </li>
            <li>
                <p>行者特质钛合金奖牌<small>（范·尼古拉斯提供）</small></p>
            </li>
            <li>
                <p>行者颁发的特制奖杯+荣誉证书+APP专属勋章</p>
            </li>
        </ul>
        <p class="text-center"><img src="http://cdn.bi-ci.com/dist_v2/image/pages/choice2015/vote_reward_club_1.jpg" alt="一等奖奖品"></p>
        <h2 class="t2 text-hide">二等奖</h2>
        <ul>
            <li>
                <p>FIER TRIBE 7005铝合金车架两只
                    <br>价值 ¥3000</p>
                <p><small>车架整体采用轻量化GB-7005铝材，比国内同类车型的6061型铝材强度更大，重量更轻。车架上梁管和下梁管全部采用三次抽管工艺使得车架轻量化和车架刚性出类拔萃。车架全部纯手工R胶截色制作。</small></p>
            </li>
            <li>
                <p>akroo捷酷伊索斯Evo 专业骑行服 10套
                    <br>价值 ¥7000</p>
                <p><small>上衣3D立体前倾版型剪裁，意大利Revolutional面料。骑行裤采用意大利Bormio裆垫，Revolutional与Invista莱卡面料</small></p>
            </li>
            <li>
                <p>雷音工具组合（补胎片+胶水10盒，脚踏扳手1只，撬棒10对，公路专业版Pressure Drive气筒1个）
                    <br>价值 ¥1200</p>
            </li>
            <li>
                <p>加雪龙头灯+尾灯套装 价值 ¥200</p>
            </li>
            <li>
                <p>行者力量纪念T恤1件（达恩运动提供）</p>
            </li>
            <li>
                <p>行者特质钛合金奖牌（范·尼古拉斯提供）</p>
            </li>
            <li>
                <p>行者颁发的特制奖杯+荣誉证书+APP专属勋章</p>
            </li>
        </ul>
        <p class="text-center"><img src="http://cdn.bi-ci.com/dist_v2/image/pages/choice2015/vote_reward_club_2.jpg" alt="二等奖奖品"></p>
        <h2 class="t3 text-hide">三等奖</h2>
        <ul>
            <li>
                <p>akroo捷酷伊索斯Evo 专业骑行服 10套
                    <br>价值 ¥7,000</p>
                <p><small>上衣3D立体前倾版型剪裁，意大利Revolutional面料。骑行裤采用意大利Bormio裆垫，Revolutional与Invista莱卡面料</small></p>
            </li>
            <li>
                <p>iGPS码表 价值 ¥799</p>
            </li>
            <li>
                <p>雷音工具组合（补胎片+胶水10盒，脚踏扳手1只，公路专业版Pressure Drive气筒1个）
                    <br>价值 ¥980</p>
            </li>
            <li>
                <p>加雪龙头灯+尾灯套装 价值 ¥200</p>
            </li>
            <li>
                <p>行者力量纪念T恤1件<small>（达恩运动提供）</small></p>
            </li>
            <li>
                <p>行者特质钛合金奖牌<small>（范·尼古拉斯提供）</small></p>
            </li>
            <li>
                <p>行者颁发的特制奖杯+荣誉证书+APP专属勋章</p>
            </li>
        </ul>
        <p class="text-center"><img src="http://cdn.bi-ci.com/dist_v2/image/pages/choice2015/vote_reward_club_3.jpg" alt="三等奖奖品"></p>
        <hr>
        <p class="text-center"><a href="/candidate?type=clubpc" class="btn btn-primary btn-lg">我要报名</a></p>
        <div class="qr">
            <h4>扫二维码手机报名更方便</h4>
            <p><img src="http://cdn.bi-ci.com/dist_v2/image/pages/choice2015/vote_qr_club.png" alt=""></p>
        </div>
    </div>
</div>
{% endblock %}
