<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>报名2015［行者力量］年度评选，数十万单车豪礼等你角逐！</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.5.7/css/sm.min.css">
    <link rel="stylesheet" type="text/css" href="/static/dist/css/xingzhe_power_vote.css">
</head>

<body>
    <!-- 报名入口 -->
    <div class="page page-current page-index" id='index'>
        <div class="content">
            <img src="http://cdn.bi-ci.com/dist_v2/image/pages/choice2015/vote_header_club.jpg" alt="报名最具影响力骑行俱乐部">
            <div class="content-block">
                <p>不在乎你是线下俱乐部或是行者线上俱乐部，不管你拥有数千人的团队或是只有数人作战，只要你有为队友们破风的实力，有团结一致走得更远的信念，有一呼即应的影响力，那我们要找的就是你。</p>
                <h2 class="t1 text-hide">一等奖</h2>
                <ul>
                    <li>
                        <p>洛克专业骑行装备 10套<br>价值 ¥12,000</p>
                        <p><small>套装包含 洛克触屏马鞍包、防风骑行手套、一体风镜骑行头盔、T6骑行车灯、便携打气筒、偏光骑行眼镜（带近视框）、猫眼警示灯LOOP。</small></p>
                    </li>
                    <li>
                        <p>Jakroo捷酷伊索斯Evo 专业骑行服 10套<br>价值 ¥7,000</p>
                        <p><small>上衣3D立体前倾版型剪裁，意大利Revolutional面料。骑行裤采用意大利Bormio裆垫，Revolutional与Invista莱卡面料</small></p>
                    </li>
                    <li>
                        <p>雷音工具组合（补胎片+胶水10盒，脚踏扳手1只，撬棒10对，公路专业版Pressure Drive气筒1个） 价值 ¥1200</p>
                    </li>
                    <li>
                        <p>加雪龙头灯+尾灯套装 价值 ¥200</p>
                    </li>
                    <li>
                        <p>行者力量纪念T恤1件<small>（达恩运动提供）</small></p>
                    </li>
                    <li>
                        <p>行者特质钛合金奖牌<small>（范·尼古拉斯提供）</small></p>
                    </li>
                    <li>
                        <p>行者颁发的特制奖杯+荣誉证书+APP专属勋章</p>
                    </li>
                </ul>
                <img src="http://cdn.bi-ci.com/dist_v2/image/pages/choice2015/vote_reward_club_1.jpg" alt="一等奖奖品">
                <h2 class="t2 text-hide">二等奖</h2>
                <ul>
                    <li>
                        <p>FIER TRIBE 7005铝合金车架两只<br>价值 ¥3000</p>
                        <p><small>车架整体采用轻量化GB-7005铝材，比国内同类车型的6061型铝材强度更大，重量更轻。车架上梁管和下梁管全部采用三次抽管工艺使得车架轻量化和车架刚性出类拔萃。车架全部纯手工R胶截色制作。</small></p>
                    </li>
                    <li>
                        <p>akroo捷酷伊索斯Evo 专业骑行服 10套<br>价值 ¥7000</p>
                        <p><small>上衣3D立体前倾版型剪裁，意大利Revolutional面料。骑行裤采用意大利Bormio裆垫，Revolutional与Invista莱卡面料</small></p>
                    </li>
                    <li>
                        <p>雷音工具组合（补胎片+胶水10盒，脚踏扳手1只，撬棒10对，公路专业版Pressure Drive气筒1个）<br>价值 ¥1200</p>
                    </li>
                    <li>
                        <p>加雪龙头灯+尾灯套装 价值 ¥200</p>
                    </li>
                    <li>
                        <p>行者力量纪念T恤1件（达恩运动提供）</p>
                    </li>
                    <li>
                        <p>行者特质钛合金奖牌（范·尼古拉斯提供）</p>
                    </li>
                    <li>
                        <p>行者颁发的特制奖杯+荣誉证书+APP专属勋章</p>
                    </li>
                </ul>
                <img src="http://cdn.bi-ci.com/dist_v2/image/pages/choice2015/vote_reward_club_2.jpg" alt="二等奖奖品">
                <h2 class="t3 text-hide">三等奖</h2>
                <ul>
                    <li>
                        <p>akroo捷酷伊索斯Evo 专业骑行服 10套<br>价值 ¥7,000</p>
                        <p><small>上衣3D立体前倾版型剪裁，意大利Revolutional面料。骑行裤采用意大利Bormio裆垫，Revolutional与Invista莱卡面料</small></p>
                    </li>
                    <li>
                        <p>iGPS码表 价值 ¥799</p>
                    </li>
                    <li>
                        <p>雷音工具组合（补胎片+胶水10盒，脚踏扳手1只，公路专业版Pressure Drive气筒1个）<br>价值 ¥980</p>
                    </li>
                    <li>
                        <p>加雪龙头灯+尾灯套装 价值 ¥200</p>
                    </li>
                    <li>
                        <p>行者力量纪念T恤1件<small>（达恩运动提供）</small></p>
                    </li>
                    <li>
                        <p>行者特质钛合金奖牌<small>（范·尼古拉斯提供）</small></p>
                    </li>
                    <li>
                        <p>行者颁发的特制奖杯+荣誉证书+APP专属勋章</p>
                    </li>
                </ul>
                <img src="http://cdn.bi-ci.com/dist_v2/image/pages/choice2015/vote_reward_club_3.jpg" alt="三等奖奖品">
                <p><a href="#pageForm" class="button button-fill button-big">我要报名</a></p>
            </div>
        </div>
    </div>
    <!-- 报名表单 -->
    <div class="page" id="pageForm">
        <header class="bar bar-nav">
            <a href="#" class="back icon icon-left pull-left"></a>
            <h1 class="title">填写报名信息</h1>
        </header>
        <div class="content">
            <div class="list-block">
                <ul>
                    {% csrf_token %}
                    <!-- Text inputs -->
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">俱乐部名称</div>
                                <div class="item-input">
                                    <input type="text" name="name" maxlength="50" required>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">所在城市</div>
                                <div class="item-input">
                                    <input type="text" name="city" placeholder="如：上海市" maxlength="20" required>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">负责人手机号</div>
                                <div class="item-input">
                                    <input type="tel" name="tel" placeholder="请务必填写正确" maxlength="11" required>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">微信号</div>
                                <div class="item-input">
                                    <input type="text" name="wechatid" placeholder="选填，非昵称"  maxlength="50">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">QQ号</div>
                                <div class="item-input">
                                    <input type="number" name="qqid" placeholder="选填" maxlength="20">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="align-top">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">一句话介绍</div>
                                <div class="item-input">
                                    <textarea name="summarytext" placeholder="必填，60字以内" maxlength="60" required></textarea>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="align-top">
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">参选理由</div>
                                <div class="item-input">
                                    <textarea class="hight-textarea" name="reasontext" placeholder="选填，完善资料有助于评选" maxlength="10000"></textarea>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="align-top">
                        <div class="item-content">
                            <div class="item-inner item-inner-file">
                                <div class="item-title">上传评选主图</div>
                            </div>
                        </div>
                        <div class="row item-content item-file-wrap">
                            <div id="fileWrap" class="col-100 item-inner file-input-wrap file-input-wrap-lg">
                                <input type="file" id="file" class="file-input" accept="image/*">
                                <label class="file-input-trigger icon icon-picture"></label>
                            </div>
                        </div>
                    </li>
                    <li class="align-top">
                        <div class="item-content">
                            <div class="item-inner item-inner-file">
                                <div class="item-title">上传更多图片有助于评选（1-4张可选）</div>
                            </div>
                        </div>
                        <div class="row item-content item-file-wrap">
                            <div id="fileWrap2" class="col-50 item-inner file-input-wrap file-input-wrap-sm">
                                <input type="file" id="file2" class="file-input" accept="image/*">
                                <label class="file-input-trigger icon icon-picture"></label>
                            </div>
                            <div id="fileWrap3" class="col-50 item-inner file-input-wrap file-input-wrap-sm">
                                <input type="file" id="file3" class="file-input" accept="image/*">
                                <label class="file-input-trigger icon icon-picture"></label>
                            </div>
                        </div>
                        <div class="row item-content item-file-wrap">
                            <div id="fileWrap4" class="col-50 item-inner file-input-wrap file-input-wrap-sm">
                                <input type="file" id="file4" class="file-input" accept="image/*">
                                <label class="file-input-trigger icon icon-picture"></label>
                            </div>
                            <div id="fileWrap5" class="col-50 item-inner file-input-wrap file-input-wrap-sm">
                                <input type="file" id="file5" class="file-input" accept="image/*">
                                <label class="file-input-trigger icon icon-picture"></label>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <a id="submitBtn" data-vtype='1' class="button button-big button-fill">提交</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Result Popup -->
    <div class="popup popup-result">
        <img src="http://cdn.bi-ci.com/dist_v2/image/pages/choice2015/vote-result-bg.jpg" alt="行者力量">
        <section>
            <h3>您的申请我们已经收到！</h3>
            <p><img src="http://cdn.bi-ci.com/dist_v2/image/pages/choice2015/vote_qrcode.png" alt="微信二维码"></p>
            <p>关注行者公众号：imxingzhe</p>
            <p>随时获取行者力量最新选票信息</p>
            <p>有任何问题请留言<strong>行者官方公众号</strong></p>
            <p>或联系邮箱：<a class="external" href="mailto:contact@imxingzhe.com">contact@imxingzhe.com</a></p>
        </section>
    </div>

    <!-- 你的html代码 -->
    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.5.7/js/sm.min.js' charset='utf-8'></script>
    <script src="/static/dist/js/componet/canvasResize/binaryajax-min.js"></script>
    <script src="/static/dist/js/componet/canvasResize/exif-min.js"></script>
    <script src="/static/dist/js/componet/canvasResize/canvasResize-min.js"></script>
    <script src="/static/dist/js/xingzhe_power_vote.js"></script>
</body>

</html>
