{% extends "base.html" %}

{% block title %}报名最具影响力骑行领袖 - 行者骑行软件 {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/dist/css/xingzhe_power_vote_pc.css">
{% endblock %}

{% block content %}
<div class="container container-vote container-vote-in">
    <img class="header-img" src="http://cdn.bi-ci.com/dist_v2/image/pages/choice2015/vote_persional_in.jpg" alt="年度最具影响力骑行领袖">
    <div class="content">
        <p>不管你是圈里红人或是骑行草根，不管你走过川藏线或只是上班通勤，只要你热爱单车，认可行者精神，坚持骑行的出行方式，都可以来报名参加，来角逐属于你的专属荣誉。</p>
        <h2 class="t1 text-hide">一等奖</h2>
        <ul>
            <li>
                <p>swift carbon 碳纤维车架
                    <br>价值 ¥20,000</p>
                <p><small>Swift Carbon,DRAPAC车队赞助商，刚性十分出色，骑行踩踏感受能极佳。</small></p>
            </li>
            <li>
                <p>BORIS碳刀轮组
                    <br>价值 ¥8,000</p>
                <p><small>BORIS是美国波特兰设计总部推出的最新品牌，这款轮组为吉伦-鑫振发洲际队御用55管胎版碳刀轮组</small></p>
            </li>
            <li>
                <p>iGPS码表 价值 ¥799</p>
            </li>
            <li>
                <p>加雪龙头灯+尾灯套装 价值 ¥200</p>
            </li>
            <li>
                <p>行者力量纪念T恤1件<small>（达恩运动提供）</small></p>
            </li>
            <li>
                <p>行者特质钛合金奖牌<small>（范·尼古拉斯提供）</small></p>
            </li>
            <li>
                <p>行者颁发的特制奖杯+荣誉证书+APP专属勋章</p>
            </li>
        </ul>
        <img src="http://cdn.bi-ci.com/dist_v2/image/pages/choice2015/vote_reward_1.jpg" alt="一等奖奖品">
        <h2 class="t2 text-hide">二等奖</h2>
        <ul>
            <li>
                <p>Motion 顶级车架
                    <br>价值 ¥12,800</p>
                <p><small>先进的无皱褶成型法和真空朔实法确保每一寸的细节紧朔，强化型高刚性吊耳更能精确的落实每个变速间的毫米</small></p>
            </li>
            <li>
                <p>iGPS码表 价值 ¥799</p>
            </li>
            <li>
                <p>加雪龙头灯+尾灯套装 价值 ¥200</p>
            </li>
            <li>
                <p>行者力量纪念T恤1件<small>（达恩运动提供）</small></p>
            </li>
            <li>
                <p>行者特质钛合金奖牌<small>（范·尼古拉斯提供）</small></p>
            </li>
            <li>
                <p>行者颁发的特制奖杯+荣誉证书+APP专属勋章</p>
            </li>
        </ul>
        <img src="http://cdn.bi-ci.com/dist_v2/image/pages/choice2015/vote_reward_2.jpg" alt="二等奖奖品">
        <h2 class="t3 text-hide">三等奖</h2>
        <ul>
            <li>
                <p>JAVA铝合金山地车架
                    <br>价值 ¥2,000</p>
                <p><small>JAVA（中文名佳沃）最初源自设计师名字的组合，团队来自意大利。这款山地车架来自JAVA旗下的Alpha系列，超轻铝合金设计，为你的旅途保驾护航</small></p>
            </li>
            <li>
                <p>iGPS码表 价值 ¥799</p>
            </li>
            <li>
                <p>加雪龙头灯+尾灯套装 价值 ¥200</p>
            </li>
            <li>
                <p>行者力量纪念T恤1件<small>（达恩运动提供）</small></p>
            </li>
            <li>
                <p>行者特质钛合金奖牌<small>（范·尼古拉斯提供）</small></p>
            </li>
            <li>
                <p>行者颁发的特制奖杯+荣誉证书+APP专属勋章</p>
            </li>
        </ul>
        <img src="http://cdn.bi-ci.com/dist_v2/image/pages/choice2015/vote_reward_3.jpg" alt="三等奖奖品">
        <hr>
        <p class="text-center"><a href="/candidate?type=personalpc" class="btn btn-primary btn-lg">我要报名</a></p>
        <div class="qr">
            <h4>扫二维码手机报名更方便</h4>
            <p><img src="http://cdn.bi-ci.com/dist_v2/image/pages/choice2015/vote_qr_personal.png" alt=""></p>
        </div>
    </div>
</div>
{% endblock %}
