<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>奖品规则</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="static/dist/css/vote_prizerule.css">
</head>
<body>
	<div class="voteHeader"><img src="http://cdn.bi-ci.com/img/2015vote/vote-header-bg.jpg" alt=""></div>
	<div class="rulesPrize">
		<h1 class="prizeRule_title">抽奖规则</h1>
		<p class="prizeRule">1.用户参与投票，预留手机号并分享投票页面至朋友圈即可参加抽奖</p>
		<p class="prizeRule">2.获奖用户将在后台随机产生，自23日起至31日结束，最多每天产生10位幸运用户</p>
		<p class="prizeRule">3.行者公众账号（imxingzhe）将会在每天晚上20点公布抽奖结果以及第二天奖品</p>
		<p class="prizeRule">4.活动最终解释权归上海大不自多信息科技有限公司所有</p>
	</div>
	<div class="voteRectangle">
		<h1 class="prizeDes">奖品介绍</h1>
		<img class="voteRectangleImg" src="http://cdn.bi-ci.com/img/2015vote/vote-rectangle.jpg" alt="">
	</div>	
</body>
</html>