{% extends "base.html" %}
{% block title %} 行者保险 {% endblock %}

{% block css %}
<link href="/static/dist/css/baoxian.css" rel="stylesheet">
{% endblock %}

{% block content %}
{% load filters %}
<header class="header-pic">
</header>
<div class="container">
    <section class="row">
        <div class="bgr">
            <div class="col-md-3 hidden-xs pic pic5"></div>
            <div class="col-md-6 col-xs-12 cont">
                <h2>[懒保险－史带］户外运动短期保险</h2>
                <div class="info"><span>承保年龄: 1-65周岁</span><span>保障期限: 1天-15天可选</span></div>
                <div class="row table table-bordered">
                    <div class="col-md-6 td td-br td-bb td-sbb">
                        <div class="col-md-8 col-xs-8">意外身故/伤残</div>
                        <div class="col-md-4 col-xs-4 text-right">15万元</div>
                    </div>
                    <div class="col-md-6 td td-bb">
                        <div class="col-md-8 col-xs-8">医药补偿</div>
                        <div class="col-md-4 col-xs-4 text-right">2万元</div>
                    </div>
                    <div class="col-md-6 td td-br td-sbb">
                        <div class="col-md-8 col-xs-8">紧急医疗运送和…</div>
                        <div class="col-md-4 col-xs-4 text-right">6万元</div>
                    </div>
                    <div class="col-md-6 td">
                        <div class="col-md-8 col-xs-8">遗体或骨灰运送…</div>
                        <div class="col-md-4 col-xs-4 text-right">1.6万元</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 golink">
                <p class="mark">5元</p>
                <p class="hidden-xs"><a href="http://cps.lanbaoxian.com/xingzhe" target="_blank" class="btn btn-primary">去看看</a></p>
                <p class="visible-xs-block"><a href="http://cps.lanbaoxian.com/m/xingzhe/short_index" class="btn btn-primary">去看看</a></p>
                <p><small>售出：11份</small></p>
            </div>
        </div>
    </section>
        <section class="row">
        <div class="bgr">
            <div class="col-md-3 hidden-xs pic pic6"></div>
            <div class="col-md-6 col-xs-12 cont">
                <h2>[懒保险－史带］户外运动一年期保险</h2>
                <div class="info"><span>承保年龄: 1-65周岁</span><span>保障期限: 1年（单次不超过30天）</span></div>
                <div class="row table table-bordered">
                    <div class="col-md-6 td td-br td-bb td-sbb">
                        <div class="col-md-8 col-xs-8">意外身故/伤残</div>
                        <div class="col-md-4 col-xs-4 text-right">10万元</div>
                    </div>
                    <div class="col-md-6 td td-bb">
                        <div class="col-md-8 col-xs-8">医药补偿</div>
                        <div class="col-md-4 col-xs-4 text-right">1.2万元</div>
                    </div>
                    <div class="col-md-6 td td-br td-sbb">
                        <div class="col-md-8 col-xs-8">紧急医疗运送和…</div>
                        <div class="col-md-4 col-xs-4 text-right">2万元</div>
                    </div>
                    <div class="col-md-6 td">
                        <div class="col-md-8 col-xs-8">遗体或骨灰运送…</div>
                        <div class="col-md-4 col-xs-4 text-right">－－</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 golink">
                <p class="mark">150元</p>
                <p class="hidden-xs"><a href="http://cps.lanbaoxian.com/xingzhe/long" target="_blank" class="btn btn-primary">去看看</a></p>
                <p class="visible-xs-block"><a href="http://cps.lanbaoxian.com/m/xingzhe/index" class="btn btn-primary">去看看</a></p>
                <p><small>售出：11份</small></p>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="bgr">
            <div class="col-md-3 hidden-xs pic pic1"></div>
            <div class="col-md-6 col-xs-12 cont">
                <h2>美亚“畅游神州”境内旅游保障计划一</h2>
                <div class="info"><span>承保年龄: 1-80周岁</span><span>保障期限: 1天-1年可选</span></div>
                <div class="row table table-bordered">
                    <div class="col-md-6 td td-br td-bb td-sbb">
                        <div class="col-md-8 col-xs-8">意外身故/伤残</div>
                        <div class="col-md-4 col-xs-4 text-right">20万元</div>
                    </div>
                    <div class="col-md-6 td td-bb">
                        <div class="col-md-8 col-xs-8">医药补偿</div>
                        <div class="col-md-4 col-xs-4 text-right">3万元</div>
                    </div>
                    <div class="col-md-6 td td-br td-sbb">
                        <div class="col-md-8 col-xs-8">住院津贴</div>
                        <div class="col-md-4 col-xs-4 text-right">50元/天</div>
                    </div>
                    <div class="col-md-6 td">
                        <div class="col-md-8 col-xs-8">紧急医疗运送和…</div>
                        <div class="col-md-4 col-xs-4 text-right">10万元</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 golink">
                <p class="mark">20元</p>
                <p class="hidden-xs"><a href="http://cps.hzins.com/sw168339/product/detail-69.html" target="_blank" class="btn btn-primary">去看看</a></p>
                <p class="visible-xs-block"><a href="http://cps.hzins.com/m/sw168339/product/detail-69.html?shopId=sw168339&productId=69&planId=69" class="btn btn-primary">去看看</a></p>
                <p><small>售出：195835份</small></p>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="bgr">
            <div class="col-md-3 hidden-xs pic pic2"></div>
            <div class="col-md-6 col-xs-12 cont">
                <h2>美亚“畅游神州”境内旅游保障计划二</h2>
                <div class="info"><span>承保年龄: 1-80周岁</span><span>保障期限: 1天-1年可选</span></div>
                <div class="row table table-bordered">
                    <div class="col-md-6 td td-br td-bb td-sbb">
                        <div class="col-md-8 col-xs-8">意外身故/伤残</div>
                        <div class="col-md-4 col-xs-4 text-right">30万元</div>
                    </div>
                    <div class="col-md-6 td td-bb">
                        <div class="col-md-8 col-xs-8">医药补偿</div>
                        <div class="col-md-4 col-xs-4 text-right">4万元</div>
                    </div>
                    <div class="col-md-6 td td-br td-sbb">
                        <div class="col-md-8 col-xs-8">住院津贴</div>
                        <div class="col-md-4 col-xs-4 text-right">50元/天</div>
                    </div>
                    <div class="col-md-6 td">
                        <div class="col-md-8 col-xs-8">紧急医疗运送和…</div>
                        <div class="col-md-4 col-xs-4 text-right">10万元</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 golink">
                <p class="mark">30元</p>
                <p class="hidden-xs"><a href="http://cps.hzins.com/sw168339/product/detail-70.html" target="_blank" class="btn btn-primary">去看看</a></p>
                <p class="visible-xs-block"><a href="http://cps.hzins.com/m/sw168339/product/detail-70.html?shopId=sw168339&productId=70&planId=70" class="btn btn-primary">去看看</a></p>
                <p><small>售出：11921份</small></p>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="bgr">
            <div class="col-md-3 hidden-xs pic pic3"></div>
            <div class="col-md-6 col-xs-12 cont">
                <h2>美亚“畅游神州”境内旅游保障计划三</h2>
                <div class="info"><span>承保年龄: 1-80周岁</span><span>保障期限: 1天-1年可选</span></div>
                <div class="row table table-bordered">
                    <div class="col-md-6 td td-br td-bb td-sbb">
                        <div class="col-md-8 col-xs-8">意外身故/伤残</div>
                        <div class="col-md-4 col-xs-4 text-right">60万元</div>
                    </div>
                    <div class="col-md-6 td td-bb">
                        <div class="col-md-8 col-xs-8">医药补偿</div>
                        <div class="col-md-4 col-xs-4 text-right">5万元</div>
                    </div>
                    <div class="col-md-6 td td-br td-sbb">
                        <div class="col-md-8 col-xs-8">住院津贴</div>
                        <div class="col-md-4 col-xs-4 text-right">50元/天</div>
                    </div>
                    <div class="col-md-6 td">
                        <div class="col-md-8 col-xs-8">紧急医疗运送和…</div>
                        <div class="col-md-4 col-xs-4 text-right">10万元</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 golink">
                <p class="mark">45元</p>
                <p class="hidden-xs"><a href="http://cps.hzins.com/sw168339/product/detail-71.html" target="_blank" class="btn btn-primary">去看看</a></p>
                <p class="visible-xs-block"><a href="http://cps.hzins.com/m/sw168339/product/detail-71.html?shopId=sw168339&productId=71&planId=71" class="btn btn-primary">去看看</a></p>
                <p><small>售出：153345份</small></p>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="bgr">
            <div class="col-md-3 hidden-xs pic pic4"></div>
            <div class="col-md-6 col-xs-12 cont">
                <h2>美亚“驴行天下”境内旅游保障计划A</h2>
                <div class="info"><span>承保年龄: 1-80周岁</span><span>保障期限: 1天-1年可选</span></div>
                <div class="row table table-bordered">
                    <div class="col-md-6 td td-br td-bb td-sbb">
                        <div class="col-md-8 col-xs-8">意外身故/伤残</div>
                        <div class="col-md-4 col-xs-4 text-right">10万元</div>
                    </div>
                    <div class="col-md-6 td td-bb">
                        <div class="col-md-8 col-xs-8">医药补偿</div>
                        <div class="col-md-4 col-xs-4 text-right">1.8万元</div>
                    </div>
                    <div class="col-md-6 td td-br td-sbb">
                        <div class="col-md-8 col-xs-8">紧急医疗运送和…</div>
                        <div class="col-md-4 col-xs-4 text-right">5万元</div>
                    </div>
                    <div class="col-md-6 td">
                        <div class="col-md-8 col-xs-8">遗体或骨灰运送…</div>
                        <div class="col-md-4 col-xs-4 text-right">2万元</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 golink">
                <p class="mark">5元</p>
                <p class="hidden-xs"><a href="http://cps.hzins.com/sw168339/product/detail-169.html" target="_blank" class="btn btn-primary">去看看</a></p>
                <p class="visible-xs-block"><a href="http://cps.hzins.com/m/sw168339/product/detail-169.html?shopId=sw168339&productId=169&planId=169" class="btn btn-primary">去看看</a></p>
                <p><small>售出：432002份</small></p>
            </div>
        </div>
    </section>

    <div class="conts row">
        <div class="col-md-4">
            <form action="http://cps.hzins.com/sw168339/policy/list" method="get">
                <h3>保单查询</h3>
                <div class="form-group">
                    <input type="text" name="idCard" class="form-control" placeholder="投保人证件号码">
                </div>
                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="投保人电子邮箱">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">查询保单</button>
                </div>
                <p class="text-muted">您可以通过查询保单继续完成支付或下载保单。</p>
            </form>
        </div>
        <div class="col-md-4">
            <div class="innerwrap">
                <h3>团体投保、加盟代理</h3>
                <h4>15695880208</h4>
                <p>行者保险推出针对骑行赛事、骑游等活 动的团体投保服务，并面向全国车店、 俱乐部、车协等招保险代理商，欢迎致 电联系。</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="innerwrap">
                <h3>售后:报险/理赔</h3>
                <h4>4006-366-366</h4>
                <p>购买保险后有任何疑问，或当您骑行中 出险需要报险、理赔时，请致电售后热 线4006-366-366，客服人员会全程协 助您！</p>
            </div>
        </div>
    </div>
</div>
<div class="footer-cont">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="header">
                    <h4>常见问题</h4>
                </div>
                <ul>
                    <li><a href="http://cps.hzins.com/sw168339/faq#002" target="_blank" title="购买需要准备什么资料？">购买需要准备什么资料？</a></li>
                    <li><a href="http://cps.hzins.com/sw168339/faq#004" target="_blank" title="电子保单是否具有法律效力，理赔时保险公司承认吗？">电子保单是否具有法律效力，理赔时保险公司承认吗？</a></li>
                    <li><a href="http://cps.hzins.com/sw168339/faq#005" target="_blank" title="投保人和被保险人有什么区别，该如何填写？">投保人和被保险人有什么区别，该如何填写？</a></li>
                    <li><a href="http://cps.hzins.com/sw168339/faq#009" target="_blank" title="支付不成功该怎么办？">支付不成功该怎么办？</a></li>
                    <li><a href="http://cps.hzins.com/sw168339/faq#010" target="_blank" title="大量被保险人该如何投保？">大量被保险人该如何投保？</a></li>
                    <li><a href="http://cps.hzins.com/sw168339/faq#012" target="_blank" title="投保信息填写完成，但没有支付该怎么办？">投保信息填写完成，但没有支付该怎么办？</a></li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="header">
                    <h4>关于行者保险</h4>
                </div>
                <p>随着国内自行车户外运动的兴起和参与人数急剧扩大，骑行安全成为突出的问题。 骑行意外伤亡事件屡屡发生，时刻提醒我们骑行安全的重要性。因此我们针对性提供多种运动保障保险产品，提供全方位骑行安全保障解决方案，让您快乐骑行无后顾之忧！</p>
                <div class="header">
                    <h4>投保流程</h4>
                </div>
                <img src="http://cdn.bi-ci.com/dist_v2/image/baoxian/rcont.png" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock %}
