{% extends "root.html" %}
{% block container %}
    
    {% block content %}
    {% endblock %}
    <div class="push"></div>
</div>
    <footer class="hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-8"><small>Copyright © 2015 鲁ICP备13005877号-1</small></div>
                <div class="text-right col-md-4">
                    <a class="tooltip iconfont" href="http://cdn.bi-ci.com/static/commonimg/xingzhe-weixinqrcode-200x200.png" data-placement="top" title="imxingzhe">&#xe605;</a>
                    <span class="spaces"></span>
                    <a class="tooltip iconfont" href="http://weibo.com/xingzheim" title="@行者骑行软件" data-placement="top" target="_blank">&#xe600;</a>
                    <span class="spaces"></span>
                    <a class="tooltip iconfont" href="/contact/" title="行者粉丝群" data-placement="top">&#xe609;</a>
                </div>
            </div>
        </div>
    </footer>
    {% block footer %}{% endblock %}
{% endblock %}