{% extends "root.html" %}

{% block container %}
<div class="container-fluid">
    {% block content %}{% endblock %}
    {% comment %}<hr>

    <!-- Example row of columns -->
    <div class="row-fluid">
        <div class="span12" style="height:65px;">
            <h4>和我联系</h4>
            <p>
                欢迎给我发邮件： jacky007wang@hotmail.com 也可以加入行者QQ群：319984917 或通过行者微博交流：
            </p>
            <wb:follow-button uid="1829347244" type="gray_3" width="100%" height="24" ></wb:follow-button>
        </div>
    </div>{% endcomment %}

</div>
{% endblock %}

