{% extends "base.html" %}
{% block title %}行者QQ群 {% endblock %}
{% block css %}
<link href="/static/dist/css/help.css" rel="stylesheet">
{% endblock %}
{% block content %}
{% load filters %}

<div class="container">
    <div class="row row-help">
    {% include "help_nav.html" %}

    <ol class="breadcrumb visible-xs">
    <li><a href="/">行者首页</a></li>
    <li><small class="iconfont">&#xe61a;</small></li>
      <li><a href="/help/">帮助中心</a></li>
      <li><small class="iconfont">&#xe61a;</small></li>
      <li class="active">联系我们</li>
    </ol>

<div class="col-md-10 main">


    <h2>联系我们</h2>
    <h3>行者QQ群</h3>
    <p>点击下方按钮加群，手机QQ用户也可直接扫描二维码加群，（<strong>内测群需发送自己任一轨迹编号验证</strong>）</p>


    <div class="row qqgroup-wrap row-help">
        <div class="col-md-2">
            <div class="thumbnail">
                <img src="http://cdn.bi-ci.com/xingzhesite/static/img/qqqun/ios-test.png" alt="行者iOS内测群二维码">
                <div class="caption">
                    <p><strong>iOS内测群</strong></p>
                    <strong class="text-danger">128411621</strong>
                    <p><a target="_blank" class="btn text-hide" href="http://shang.qq.com/wpa/qunwpa?idkey=027953a3795214fff3088d9b2240306d6975617c7302ba2df1b0f12f173d47b4">加入QQ群</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <img src="http://cdn.bi-ci.com/xingzhesite/static/img/qqqun/android-test.png" alt="行者Android内测群二维码">
                <div class="caption">
                    <p><strong>安卓内测群</strong></p>
                    <strong class="text-danger">431650535</strong>
                    <p>
                        <a target='_blank' class="btn text-hide" href='http://shang.qq.com/wpa/qunwpa?idkey=33a09d704e2bad658f2c4ef6d6b409d10568c5707b769268ba03a67f2ee1a5dc'></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <img src="http://cdn.bi-ci.com/xingzhesite/static/img/qqqun/10.png" alt="10群二维码">
                <div class="caption">
                    <p><strong>10群</strong></p>
                    <strong class="text-danger">289693536</strong>
                    <p>
                        <a target='_blank' class="btn text-hide" href='http://shang.qq.com/wpa/qunwpa?idkey=848ecddd1ec5164849b07eab2e08a985086f19fd7f0332874199229e3c3659cf'></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <img src="http://cdn.bi-ci.com/xingzhesite/static/img/qqqun/9.png" alt="9群二维码">
                <div class="caption">
                    <p><strong>9群</strong></p>
                    <strong class="text-danger">339608021</strong>
                    <p>
                        <a target='_blank' class="btn text-hide" href='http://shang.qq.com/wpa/qunwpa?idkey=234596e2ba0bc7c3d699ac00b81a847a9b4dbac50435a0e0ef14de07e3063f90'></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <img src="http://cdn.bi-ci.com/xingzhesite/static/img/qqqun/8.png" alt="8群二维码">
                <div class="caption">
                    <p><strong>8群</strong></p>
                    <strong class="text-danger">369265165</strong>
                    <p>
                        <a target='_blank' class="btn text-hide" href='http://shang.qq.com/wpa/qunwpa?idkey=5c7cd14a842e6319ee9b549f24ba496749a13c56dca68dd0e71b22e77e5e7a01'></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <img src="http://cdn.bi-ci.com/xingzhesite/static/img/qqqun/7.png" alt="7群二维码">
                <div class="caption">
                    <p><strong>7群</strong></p>
                    <strong class="text-danger">319984917</strong>
                    <p>
                        <a target='_blank' class="btn text-hide" href='http://shang.qq.com/wpa/qunwpa?idkey=d2f76eaddfb9d3cd77c95b4079b9838c9b17d36eab587b5574c3baf069b2dc9d'></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <img src="http://cdn.bi-ci.com/xingzhesite/static/img/qqqun/7.png" alt="6群二维码">
                <div class="caption">
                    <p><strong>6群</strong></p>
                    <strong class="text-danger">129190370</strong>
                    <p>
                        <a target='_blank' class="btn text-hide" href='http://shang.qq.com/wpa/qunwpa?idkey=0e113163d5b0748d53fbf8451e8bb9a6b13ffe52bcc8134d21fb1f799a5a2c9c'></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <img src="http://cdn.bi-ci.com/xingzhesite/static/img/qqqun/5.png" alt="5群二维码">
                <div class="caption">
                    <p><strong>5群</strong></p>
                    <strong class="text-danger">233924709</strong>
                    <p>
                        <a target='_blank' class="btn text-hide" href='http://shang.qq.com/wpa/qunwpa?idkey=3075cee61ecc7615f013d40deff058e8bbe9d1f17002aaf2fcaa479a1c3ea2ed'></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <img src="http://cdn.bi-ci.com/xingzhesite/static/img/qqqun/4.png" alt="4群二维码">
                <div class="caption">
                    <p><strong>4群</strong></p>
                    <strong class="text-danger">129112962</strong>
                    <p>
                        <a target='_blank' class="btn text-hide" href='http://shang.qq.com/wpa/qunwpa?idkey=b6de84833b87d94c54b5adc8a95488e3101f1cf3d760b4d8afa9da1794e0cd93'></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <img src="http://cdn.bi-ci.com/xingzhesite/static/img/qqqun/3.png" alt="3群二维码">
                <div class="caption">
                    <p><strong>3群</strong></p>
                    <strong class="text-danger">252833147</strong>
                    <p>
                        <a target='_blank' class="btn text-hide" href='http://shang.qq.com/wpa/qunwpa?idkey=29522b31bdb3dd26dc3aaebefd78aae149ea7baee2a998664633d7b7e6232262'></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <img src="http://cdn.bi-ci.com/xingzhesite/static/img/qqqun/2.png" alt="2群二维码">
                <div class="caption">
                    <p><strong>2群</strong></p>
                    <strong class="text-danger">481198</strong>
                    <p>
                        <a target='_blank' class="btn text-hide" href='http://shang.qq.com/wpa/qunwpa?idkey=307e4d01982934265e52f98a20c6bc13df560502f0351909dd5da63388bc33fa'></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <img src="http://cdn.bi-ci.com/xingzhesite/static/img/qqqun/1.png" alt="1群二维码">
                <div class="caption">
                    <p><strong>1群</strong></p>
                    <strong class="text-danger">46293500</strong>
                    <p>
                        <a target='_blank' class="btn text-hide" href='http://shang.qq.com/wpa/qunwpa?idkey=e07e1a8b357badf65564b9b9ee14d0c3a04ec8e8962a3d1b00241734ef1ce47c'></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <img src="http://cdn.bi-ci.com/xingzhesite/static/img/qqqun/julebu.png" alt="行者俱乐部交流群二维码">
                <div class="caption">
                    <p><strong>行者俱乐部交流群</strong></p>
                    <strong class="text-danger">317444515</strong>
                    <p>
                        <a target="_blank" class="btn text-hide" href="http://shang.qq.com/wpa/qunwpa?idkey=adbdb55480774f4910f54e23f82be4db40676a0f98a4362dfc3dcfce07ac6961">行者俱乐部交流群</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
                <img src="http://cdn.bi-ci.com/xingzhesite/static/img/qqqun/gaoxiao.png" alt="行者高校交流群二维码">
                <div class="caption">
                    <p><strong>行者高校交流群</strong></p>
                    <strong class="text-danger">291872360</strong>
                    <p>
                        <a target="_blank" class="btn text-hide" href="http://shang.qq.com/wpa/qunwpa?idkey=a8f4e3f3d112de28ec3986982ea0c4aa33bf2554a6c14c7f6cac9e004774fcfe">行者高校交流群</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <h3>行者官网微博</h3>
    <p><a href="http://weibo.com/xingzheim" target="_blank">@行者骑行软件</a></p>
    <h3>行者微信公众号</h3>
    <p>微信搜索：imxingzhe</p>
    <p><img src="http://cdn.bi-ci.com/static/commonimg/xingzhe-weixinqrcode-200x200.png" alt="xingzheqr"></p>
            <hr>
            <p class="text-right"><a href="{% url 'download' %}">安装行者APP</a></p>
        </div>
    </div>
</div>

{% endblock %}
