{% extends 'base.html' %}
{% load i18n %}
{% load filters %}
{% block title %}
    优惠码 - 行者骑行软件
{% endblock %}
{% block css %}
<link href="/static/dist/css/bootstrapbase.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <br/>
    {% if coupon %}
        <table class="table">
            <tbody>
            <tr>
                <td class="span2">优惠码</td>
                <td>{{ coupon.code }}</td>
            </tr>
            <tr>
                <td>优惠信息</td>
                <td>{{ coupon.type.title }}</td>
            </tr>
            <tr>
                <td>使用时间</td>
                <td>{% if coupon.use_time %}{{ coupon.use_time|date:'Y-m-d H:i' }}{% else %}尚未使用{% endif %}</td>
            </tr>
            <tr>
                <td>使用细则</td>
                <td><a target="_blank" href="{% url 'coupon_type_show' coupon.type.id %}">查看</a></td>
            </tr>
            </tbody>
        </table>
    {% else %}
        <p>没有找到优惠码信息</p>
    {% endif %}

{% endblock %}
