<header class="visible-xs-block">
  <div class="container">
      <h1><i class="visible-xs-inline iconfont">&#xe60c;</i>帮助中心</h1>
  </div>
</header>

<div class="col-md-2 sidebar hidden-xs">
    <ul class="nav nav-sidebar">
        <li>
            <ul>
                <li><a href="/help_app/">App使用</a></li>
                <li><a href="/lushu/help/">路书相关</a></li>
                <li><a href="/help_videos/">视频介绍</a></li>
                <li><a href="/contact/">联系我们</a></li>
            </ul>
        </li>
    </ul>
</div>
