{% extends "base.html" %}
{% block css %}
<link href="/static/dist/css/help.css" rel="stylesheet">
{% endblock %}
{% block title %}
    App使用帮助
{% endblock %}
{% block content %}
{% load filters %}

<div class="container">
    <div class="row row-help">
    {% include "help_nav.html" %}

    <ol class="breadcrumb visible-xs">
    <li><a href="/">行者首页</a></li>
    <li><small class="iconfont">&#xe61a;</small></li>
      <li><a href="/help/">帮助中心</a></li>
      <li><small class="iconfont">&#xe61a;</small></li>
      <li class="active">App使用帮助</li>
    </ol>

<div class="col-md-10 main">
        <h2>运动首页辅助功能</h2>
        <p><img class="img-rounded" src="http://cdn.bi-ci.com/webapp/instruction/img/p1.jpg"></p>
        <h3>1、位置共享</h3>
        <p>开启后实现两个功能</p>
        <ol>
            <li>每隔一分钟自动上传当前位置到行者网站，朋友家人可在行者官网查看</li>
            <li>可让队友在行者手机端看到我的最新位置</li>
        </ol>
        <h3>2、离线地图</h3>
        <p>下载所需地区的离线地图后可以在没有数据流量的情况下使用地图信息。行者无法使用百度地图已经下载好的离线地图，这是百度自身的限制。</p>
        <h3>3、踏频训练</h3>
        <p>使用行者踏频训练功能，非常有助于练就合理的踏频，保护膝盖，防止运动伤害。</p>
        <p>如何计算自己的踏频：打开行者，找到设置-踏频训练，通过加减号，调整声音的频率和自己正常踩踏的频率保持一致，这时行者显示的数字就是您的踏频。</p>
        <p>如何进行科学的踏频训练：骑行时，找到设置-踏频训练，调整声音频率到合适的值，然后跟随节奏进行踩踏即可。</p>
        <p>踏频是指每分钟蹬踏的次数（左右脚各蹬半圈算一次）。正常情况下，合理的踏频是80-90左右，每个人有少许差异，专业运动员会更高。</p>
        <hr>
        <h2>运动地图功能键使用</h2>
        <h3>1、测高程</h3>
        <p>点选测高程功能，然后点击地图上任意一点，可以给出google上的高程数据，由于该指令时通过行者服务器向google请求数据，因此数据显示会有些延迟。</p>
        <p><img class="img-rounded" src="http://cdn.bi-ci.com/webapp/instruction/img/p2.jpg"></p>
        <h3>2、测距离</h3>
        <p>点选测距离功能，然后点选地图上任意几个点，行者给出连接这几个点的直线距离。</p>
        <p><img class="img-rounded" src="http://cdn.bi-ci.com/webapp/instruction/img/p3.jpg"></p>
        <h3>3、显示队友</h3>
        <p>点选该功能键可以在地图上看到队友的目前位置，没有距离限制，像个多远都能看见。看见队友的前提是，在俱乐部界面下，勾选“地图上显示队友”选项。</p>
        <p><img class="img-rounded" src="http://cdn.bi-ci.com/webapp/instruction/img/p4.jpg"></p>
        <h3>4、我的位置</h3>
        <p>点选右下角的定位键，可以马上在地图中心显示我的即时位置，还可以进行跟随，3D罗盘视角的转换。</p>
        <p><img class="img-rounded" src="http://cdn.bi-ci.com/webapp/instruction/img/p5.jpg"></p>
        <p><img class="img-rounded" src="http://cdn.bi-ci.com/webapp/instruction/img/p6.jpg"></p>
        <p>跟随视角，双指旋转可将图区调整至任意角度图区，双指下拉可将图区切换至3D视角，点击左上角指针可恢复2D正北向上状态。</p>
        <p><img class="img-rounded" src="http://cdn.bi-ci.com/webapp/instruction/img/p7.jpg"></p>
        <p>3D罗盘视角，点击左上角指针可恢复2D正北向上状态。</p>
        <h3>5、选择路书</h3>
        <p>地图右上角的路书功能可以直接选择本地路书或者从云端数据下载所需路书，被选择的路书可以显示在运动地图上。</p>
        <p><img class="img-rounded" src="http://cdn.bi-ci.com/webapp/instruction/img/p8.jpg"></p>
        <h3>6、创建路书</h3>
        <p>推荐方式：可选择起止点和途经点，途经点最多选择8个，长距离路书建议分段制作。</p>
        <p>简易方式：可在地图上所需位置直接设置”起“，”止“点，由系统生成推荐路线。</p>
        <p>创建好的路书上传后会生成相应的路书编号，他人可以通过编号快速搜索到你上传的路书。你也可以在行者路书网页版（<a href="http://www.imxingzhe.com/lushu/">www.imxingzhe.com/lushu/</a>）将自己制作的路书隐藏。</p>
        <p><img class="img-rounded" src="http://cdn.bi-ci.com/webapp/instruction/img/p9.jpg"></p>
        <p><img class="img-rounded" src="http://cdn.bi-ci.com/webapp/instruction/img/p10.jpg"></p>
        <p><img class="img-rounded" src="http://cdn.bi-ci.com/webapp/instruction/img/p11.jpg"></p>
        <h3>7、搜索路书</h3>
        <p>行者客户端提供关键字和编号的路书/轨迹搜索，黄色标志为路书，蓝色标志位轨迹，一个编号既可以对应路书也可以对应轨迹，路书只是一条路线，而轨迹是代表他人的骑行路线。点击下载后就可以将云端路书/轨迹转为本地路书使用。</p>
        <h3>8、导入路书</h3>
        <p>itunes导入路书：将iphone与itunes链接后，选择手机内的”应用程序“，选择“行者”，将下载的gpx文件直接拖入“行者的文档”，同步到手机，最后在行者路书界导入即可。</p>
        <p>Android导入，将gpx文件保存在手机存储卡xingzhe/lushu目录下，在行者路书界导入即可。</p>
            <hr>
            <p class="text-right"><a href="{% url 'download' %}">安装行者APP</a></p>
        </div>
    </div>
</div>
{% endblock %}