{% extends "base.html" %}
{% block title %}
    行者和Pebble - 行者骑行软件
{% endblock %}
{% block content %}
    <div class="row">
        <div class="span7">

            <h3>行者和Pebble</h3>

            <p>行者用户的好消息：行者已经支持运动数据在Pebble的显示，具体见右图。</p>

            <p>行者和Pebble结合后，你可以将手机装进口袋，将Pebble带在手腕或放在车把，行者会将运动数据通过蓝牙自动发送到Pebble上显示出来。</p>

            <p>如果你已经拥有了Pebble，可以通过页面最下方的联系方式和我联系，获得行者为Pebble定制的特别版本。</p>
            <a target="_blank" class="btn btn-primary" href="/xingzhe_pebble.apk">下载行者Pebble版</a>
            <hr/>
            <h4>关于Pebble</h4>

            <p>
                Pebble是最近非常火爆的一款智能手表。智能手表和智能手机一样，除了常规功能外，最大的特点就是可以安装程序。
            </p>

            <p>
                Pebble的目前的售价是150美元，当然由于异常火爆，现在处于全球缺货状态。关于Pebble的具体信息可以访问 <a target="_blank" href="http://getpebble.com/">Pebble官网</a>
            </p>
            <hr/>
            <img src="/static/images/pebble/pebble.jpg" title="Pebble智能手表"/>
        </div>
        <div class="span5">
            <img src="/static/images/pebble/pebble_xingzhe.jpg" title="行者和Pebble的结合"/><br/><br/>
            <img src="/static/images/pebble/pebble_cycling.jpg" title="Pebble智能手表"/><br/><br/>
            <img src="/static/images/pebble/pebble_running.jpg" title="Pebble智能手表"/>
        </div>
    </div>

{% endblock %}

