{% extends "base.html" %}
{% block title %}
    组队骑行，时刻掌握队友位置 - 行者骑行软件
{% endblock %}

{% block css %}
<link href="/static/dist/css/help.css" rel="stylesheet">
{% endblock %}

{% block content %}
    {% load filters %}

<div class="container">
    <div class="row row-help">
        {% include "help_nav.html" with active=7 %}
        <div class="col-md-9 main">
            <h2>组队骑行，时刻掌握队友位置</h2>
            <p>手机上打开行者，找到 <span class="label label-info">俱乐部</span> &raquo; <span class="label label-info">创建</span> 新建一个队伍，然后让其他队友加入这个队伍。</p>
            <p><img src="http://cdn.bi-ci.com/dist_v2/image/help/help-team-1.png" class="img-thumbnail" alt="创建队伍">
            <img src="http://cdn.bi-ci.com/dist_v2/image/help/help-team-2.jpg" class="img-thumbnail" alt="创建队伍"></p>
            <p>选择队伍，选中 <span class="label label-info">在地图上显示队友位置</span>，可在行者地图界面看到自己及队友位置。（相隔多远都能看到，只要你的队友还在地球上）</p>
            <p><img src="http://cdn.bi-ci.com/dist_v2/image/help/help-team-3.jpg" class="img-thumbnail" alt="显示队友位置">
            <img src="http://cdn.bi-ci.com/dist_v2/image/help/help-team-4.jpg" class="img-thumbnail" alt="显示队友位置"></p>
            <p><a href="{% url 'download' %}" class="btn btn-info">马上下载行者App</a></p>
        </div>
    </div>
</div>

{% endblock %}
