{% extends "base.html" %}
{% load filters %}
{% block title %}
    {{ user.name }} - 行者骑行软件
{% endblock %}
{% block css %}
<link href="/static/dist/css/bootstrapbase.css" rel="stylesheet">
{% endblock %}

{% block content %}
    {% load filters %}
    <div class="row">

    </div>
    <div class="row">
        <div class="span10">
            <form action="" method="post" class="form-horizontal">
                <fieldset>
                    {% csrf_token %}
                    <div>
                        昵称：{{ the_user.username }}
                    </div>
                    <br />
                    <div>
                        邮箱：{{ the_user.email }}
                    </div>
                    <br />
                    <div>
                        密码：<input type="text" class="input-xlarge" id="password" name="password" value="" />
                    </div>
                    <br />
                    <div>
                        <input type="submit" value="提交" class="btn btn-primary" />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}

