@import "var";
.explore-nav-header {
	margin-top: 50px;
	margin-bottom: 50px;
    .alist {
        height: 60px;
        line-height: 60px;
        text-align: center;
        border-bottom: 2px solid #ccc;
        background-color: rgba(0, 0, 0, 0.0313726);
        a {
        	display: block;
            color: #555;
            &:hover {
            	color: $color-xingzhe-blue;
            	text-decoration: none;
            }
        }
    }
    .alist.active {
        border-bottom: 2px solid $color-xingzhe-blue;
    }
    font-weight: normal;
}

.pagination-wrap {
    float: left;
    position: relative;
    left: 50%;
    clear: both;
    color: #999;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 6px 0px 6px 6px;
    font-size: 13px;
    > div {
        position: relative;
        left: -50%;
    }
    a {
        float: left;
        border: 1px solid #ccc;
        display: inline;
        padding: 5px 12px 5px 12px;
        margin-right: 5px;
        cursor: pointer;
        background: #fff;
        text-decoration: none;
        color: #999;
        &:hover {
            border: 1px solid $color-xingzhe-blue;
            background-color: rgb(0, 122, 194);
            background-color: rgba(0, 122, 194, .9);
            color: #fff;
        }
    }
    span.disabled {
        float: left;
        display: inline;
        padding: 5px 12px 5px 12px;
        margin-right: 5px;
        border: 1px solid #DFDFDF;
        background-color: #FFF;
        color: #DFDFDF;
    }
    span.curr {
        float: left;
        border: 1px solid $color-xingzhe-blue;
        display: inline;
        padding: 5px 12px 5px 12px;
        margin-right: 5px;
        color: $color-xingzhe-blue;
    }
    .spanDot {
        float: left;
        margin-right: 5px;
        line-height: 24px;
    }
}

.ranking-list {
    ol {
        float: left;
        padding: 0;
        list-style: none;
        width: 100%;
        .item {
            border-bottom: 1px solid #eee;
        }
        .item.badges1 {
            .badges {
                color: #efa102;
            }
            .user-name {
                color: #efa102;
            }
        }
        .item.badges2 {
            .badges {
                color: #a58143;
            }
            .user-name {
                color: #a58143;
            }
        }
        .item.badges3 {
            .badges {
                color: #5b5243;
            }
            .user-name {
                color: #5b5243;
            }
        }
        .left {
            padding-top: 0;
            padding-bottom: 0;
            height: 96px;
            line-height: 96px;
            .badges {
                display: inline-block;
                width: 45px;
                color: #222;
                font-size: 22px;
            }
            .default-avatar {
                width: 56px;
                height: 56px;
                margin-right: 10px;
                border: 0;
            }
            .user-name {
                font-size: 22px;
                color: #333;
            }
        }
        .right {
            padding-top: 0;
            padding-bottom: 0;
            height: 96px;
            line-height: 96px;
            text-align: right;
            font-size: 16px;
            .data-font {
                margin-right: 2px;
                font-size: 28px;
                font-family: "Din Alternate", "Helvetica Neue", Helvetica, sans-serif;
            }
        }
    }
}
