<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="utf-8">
    <title>找回密码</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.5.6/css/sm.min.css">
    <style type="text/css">
    .button {
        border-radius: .15rem;
    }
    
    a {
        cursor: pointer;
    }
    
    .hidden {
        display: none!important;
    }
    
    .item-get-code {
        min-width: 4rem;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button{
        -webkit-appearance: none !important;
        margin: 0; 
    }
    
    i.icon {
        width: 1.45rem;
        height: 1.45rem;
        background-image: url(http://cdn.bi-ci.com/xingzhesite/static/img/accounts/reset-icon.png);
    }
    
    i.icon.icon-mobile {
        background-position: center 0;
    }
    
    i.icon.icon-mcode {
        background-position: center -1.45rem;
    }
    
    i.icon.icon-email {
        background-position: center -2.9rem;
    }
    
    i.icon.icon-password {
        background-position: center -4.35rem;
    }
    .item-after{
        width:50%;
    }
    </style>
</head>

<body>
    <!-- 入口页 -->
    <div class="page page-current" id="resetPswIndex">
        <div class="content">
            <div class="content-block-title">请选择找回方式：</div>
            <div class="content-block">
                <p><a href="#resetPswMobile" class="button button-big button-fill">手机号码找回</a></p>
                <p><a href="#resetPswMail" class="button button-big button-fill">邮箱找回</a></p>
            </div>
        </div>
    </div>
    <!-- 手机验证页 -->
    <div class="page" id="resetPswMobile">
        <header class="bar bar-nav">
            <a href="#resetPswIndex" class="back button button-link button-nav pull-left">
                <span class="icon icon-left"></span> 返回
            </a>
        </header>
        <div class="content">
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-mobile"></i></div>
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="tel" id="inputMobile" placeholder="请输入手机号" required="required">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                         <div class="item-content">
                            <div class="item-media"><i class="icon icon-mcode"></i></div>
                            <div class="item-inner">
                                <div class="item-title">
                                    <div class="item-input"><input type="text" id="voteCaptchaInput" maxlength="6" placeholder="图片验证码" tabindex="0" required pattern="^[a-zA-Z0-9]{4,4}$" data-error="请输入正确的图片验证码">
                                    </div> 
                                </div>
                                <div class="item-after">
                                    <img id="voteCaptchaImg">
                                </div>
                                <div class="help-block with-errors" id="imgCaptcha"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-mcode"></i></div>
                            <div class="item-inner">
                                <div class="item-input">
                                    <input type="number" id="inputCode" placeholder="请输入验证码" required="required">
                                </div>
                                <div class="item-get-code">
                                    <a href="#" id="getCodeBtn" class="button button-fill">点击获取</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-password"></i></div>
                            <div class="item-inner">
                                <div class="item-input">
                                    <input id="inputPsw" type="password" placeholder="请输入新密码" required="required">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-password"></i></div>
                            <div class="item-inner">
                                <div class="item-input">
                                    <input id="inputPswRepeat" type="password" placeholder="请再次输入新密码" required="required">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <textarea class="hidden" hidden id="pubkey">{{ pk }}</textarea>
            </div>
            <div class="content-block">
                <a id="resetPswBtn" class="button button-big button-fill disabled">验证并设置密码</a>
                <p>收不到短信？尝试<a class="external" id="getVoiceCodeBtn">语音验证码</a></p>
            </div>
        </div>
    </div>
    <!-- 邮箱验证页 -->
    <div class="page" id="resetPswMail">
        <header class="bar bar-nav">
            <a href="#resetPswIndex" class="back button button-link button-nav pull-left">
                <span class="icon icon-left"></span> 返回
            </a>
        </header>
        <div class="content">
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-email"></i></div>
                            <div class="item-inner">
                                <div class="item-input">
                                    <input id="inputEmail" type="email" placeholder="请输入注册邮箱" required="required">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <a id="sendEmailBtn" class="button button-big button-fill send-email disabled">发送</a>
            </div>
        </div>
    </div>
    <script src='//g.alicdn.com/sj/lib/zepto/zepto.min.js'></script>
    <script src='//g.alicdn.com/msui/sm/0.5.6/js/sm.min.js'></script>
    <script src='/static/dist/js/componet/jsencrypt.min.js'></script>
    <script src='/static/dist/js/user-findpassword.js'></script>
</body>

</html>
