{% extends 'base.html' %}
{% load i18n %} 
{% load crispy_forms_tags %}

{% block title %} 设置密码 - 行者骑行软件 {% endblock %}

{% block css %}
  <link rel="stylesheet" href="/static/dist/css/user-login.css">
{% endblock %}

{% block content %}
<div class="container">
    <form id="setPasswordForm" class="form-accounts form-accounts-signup" method="POST" action="#" role="form" data-toggle="validator" autocomplete="off">
      <header class="text-center">
        <h1 title="设置密码" class="iconfont">&#xe60c;</h1>
        <h2 class="text-center">虽千万里 吾往矣</h2>
      </header>
        <div class="form-group">
            <label for="setPswPasswordInput">
              <i class="iconfont">&#xe639;</i>
              <input type="password" class="form-control input-lg" id="setPswPasswordInput" name="password" placeholder="密码（不少于6位）" tabindex="1" data-minlength="6" required data-error="请输入密码长度不少于6位">
            </label>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
          <button type="submit" tabindex="2" class="btn btn-primary btn-lg btn-block" data-type="4">设置密码</button>
        </div>
        <div class="row">
          <div class="col-sm-12 text-right margin-top-10 margin-bottom-10">
            <strong><a href="#" id="goUserpageLink" class="go-user-page-link" tabindex="5">暂时跳过»</a></strong>
          </div>
        </div>
        <p class="margin-top-10 text-danger">为了您的帐号安全，请设置登录密码</p>
    </form>

</div>

<textarea class="hidden" hidden id="pubkey">{{ pk }}</textarea>

{% endblock %}

{% block js %}
<script src="http://cdn.bi-ci.com/static/jquery/jquery-1.11.3.min.js"></script>
<script src="http://cdn.bi-ci.com/static/bootstrap/bootstrap-3.3.4.min.js"></script>
<script src="/static/dist/js/common.js"></script>
<script src="/static/dist/js/base64tocode.js"></script>
<script src="/static/dist/js/componet/validator.min.js"></script>
<script src="/static/dist/js/componet/jsencrypt.min.js"></script>
<script src="/static/dist/js/user-login.js"></script>
{% endblock %}
